*{
	margin: 0;
	padding: 0;
}

/*定位居中*/
#rect{
	width:400px;
	height: 200px;
	background-color:#ccc;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top:-100px;
	margin-left: -200px;

}

#corner_bottom{
	width: 50px;
	height: 50px;
	background-color: #fc0;
	border-radius: 50px 0 0 0 ;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top:50px;
	margin-left: 150px;
	z-index: 9999;



}
#corner_top{
	width: 50px;
	height: 50px;
	background-color: #fc0;
	border-radius:  0 0 50px 0 ;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top:-100px;
	margin-left: -200px;

	z-index: 9999;



}